extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.banner1
		.owl-carousel.owl-theme1
			.items
				figure
					img(src="./img/home_banner1.png", alt="", srcset="")
					figcaption
						h2 Chúng tôi là FullStack Việt Nam
						h4 FullStack Developer là nghề cực hot hiện nay, những lập trình viên - FullStack có đầy đủ các kỷ năng tổng hợp
			.items
				figure
					img(src="./img/home_banner1.png", alt="", srcset="")
					figcaption
						h2 Chúng tôi là FullStack Việt Nam
						h4 FullStack Developer là nghề cực hot hiện nay, những lập trình viên - FullStack có đầy đủ các kỷ năng tổng hợp
			.items
				figure
					img(src="./img/home_banner1.png", alt="", srcset="")
					figcaption
						h2 Chúng tôi là FullStack Việt Nam
						h4 FullStack Developer là nghề cực hot hiện nay, những lập trình viên - FullStack có đầy đủ các kỷ năng tổng hợp
	section.intro
		.container
			.row
				.col.text-center.mb-5
					h2.mt-5.mb-5 TIN TỨC
			.row
				.col-md-4.mb-3
					figure
						.box
							img(src="./img/home_intro1.png", alt="", srcset="")
						figcaption
							h4.mt-4 Trung tâm đào tạo IT chuyên nghiệp
							date 26/8/2018
							br
							br
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sequi facilis maxime ad sint dolor aliquam ullam repellat excepturi. Consequuntur ut soluta dolores laboriosam, repellendus exercitationem repellat autem. Exercitationem, repudiandae?
				.col-md-4.mb-3
					figure
						.box
							img(src="./img/home_intro2.png", alt="", srcset="")
						figcaption
							h4.mt-4 Trung tâm đào tạo IT chuyên nghiệp
							date 26/8/2018
							br
							br
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sequi facilis maxime ad sint dolor aliquam ullam repellat excepturi. Consequuntur ut soluta dolores laboriosam, repellendus exercitationem repellat autem. Exercitationem, repudiandae?
				.col-md-4.mb-3
					figure
						.box
							img(src="./img/home_intro3.png", alt="", srcset="")
						figcaption
							h4.mt-4 Trung tâm đào tạo IT chuyên nghiệp
							date 26/8/2018
							br
							br
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sequi facilis maxime ad sint dolor aliquam ullam repellat excepturi. Consequuntur ut soluta dolores laboriosam, repellendus exercitationem repellat autem. Exercitationem, repudiandae?
	section.banner2
		.container
			.row
				.col.text-center.mb-5.mt-5
					h2.mt-5.mb-5 ĐỊNH HƯỚNG PHÁT TRIỂN
			.row
				.col-md-3.mb-5
					figure
						.box-font-awesome.mb-4
							i.fa.fa-file-o.fa-spin
						figcaption
							h4 TẦM NHÌN
							.text
								br
								|Cam kết chất lượng sản phẩm cao nhất
								br
								|Luôn đặt chử tín lên hàng đầu
								br
								|Lấy lợi ích khách hàng làm trung tâm hoạt động
				.col-md-3.mb-5
					figure
						.box-font-awesome.mb-4
							i.fa.fa-moon-o.fa-spin
						figcaption
							h4 TẦM NHÌN
							.text
								br
								|Cam kết chất lượng sản phẩm cao nhất
								br
								|Luôn đặt chử tín lên hàng đầu
								br
								|Lấy lợi ích khách hàng làm trung tâm hoạt động
				.col-md-3.mb-5
					figure
						.box-font-awesome.mb-4
							i.fa.fa-floppy-o.fa-spin
						figcaption
							h4 TẦM NHÌN
							.text
								br
								|Cam kết chất lượng sản phẩm cao nhất
								br
								|Luôn đặt chử tín lên hàng đầu
								br
								|Lấy lợi ích khách hàng làm trung tâm hoạt động
				.col-md-3.mb-5
					figure
						.box-font-awesome.mb-4
							i.fa.fa-question-circle.fa-spin
						figcaption
							h4 TẦM NHÌN
							.text
								br
								|Cam kết chất lượng sản phẩm cao nhất
								br
								|Luôn đặt chử tín lên hàng đầu
								br
								|Lấy lợi ích khách hàng làm trung tâm hoạt động
	section.banner3
		.container
			.row
				.col.text-center
					h3.mt-5.mb-5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis fugit ratione, illo rem qui officia consectetur in hic cum rerum, nostrum incidunt ut nobis sequi natus dolorum laboriosam consequuntur tempore!
					a.mb-5.btn.btn-primary(href="#" role="button") Xem Thêm
	section.list
		.container
			.row
				.col.text-center.mt-5
					h2.mb-5 ĐỊNH HƯỚNG PHÁT TRIỂN
			.row
				.col.text-center
					nav
						ul
							li.mb-5
								a(href="#" target="_blank") TẤT CẢ
								a(href="#" target="_blank") GROUNP
								a(href="#" target="_blank") TIN THỊ TRƯỜNG
								a(href="#" target="_blank") TIN VỊT
			.row.mb-5
				.col-md-4
					figure
						.box-img
							img(src="./img/home_intro3.png", alt="", srcset="")
				.col-md-4
					figure
						.box-img
							img(src="./img/home_intro3.png", alt="", srcset="")
				.col-md-4
					figure
						.box-img
							img(src="./img/home_intro3.png", alt="", srcset="")
	section.customer
		.container
				.row
					.col.text-center.mt-5
						h2.mb-5 KHÁCH HÀNG NÓI
		.owl-carousel.owl-theme
			.item
				.row
					.col.text-center
						figure
							.box-img-customer
								img(style="width:10%")(src="./img/home_customer.png", alt="", srcset="")
							figcaption
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla id unde modi, earum magni hic. Quae iusto perspiciatis nostrum, minus alias consequatur quibusdam, natus et reiciendis facere architecto numquam odio!
								br
								br
								b Pelican Steve
								p CEO ABC Company
			.item
				.row
					.col.text-center
						figure
							.box-img-customer
								img(style="width:10%")(src="./img/home_customer.png", alt="", srcset="")
							figcaption
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla id unde modi, earum magni hic. Quae iusto perspiciatis nostrum, minus alias consequatur quibusdam, natus et reiciendis facere architecto numquam odio!
								br
								br
								b Pelican Steve
								p CEO ABC Company
			.item
				.row
					.col.text-center
						figure
							.box-img-customer
								img(style="width:10%")(src="./img/home_customer.png", alt="", srcset="")
							figcaption
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla id unde modi, earum magni hic. Quae iusto perspiciatis nostrum, minus alias consequatur quibusdam, natus et reiciendis facere architecto numquam odio!
								br
								br
								b Pelican Steve
								p CEO ABC Company
	section.slider
		.container
			.row
				.col
					.slide.pb-4.mt-4
							.owl-carousel.owl-theme
								.items
									img.img-fluid(src="./img/home_slider6.png", alt="", srcset="")
								.items
									img.img-fluid(src="./img/home_slider5.png", alt="", srcset="")
								.items
									img.img-fluid(src="./img/home_slider4.png", alt="", srcset="")
								.items
									img.img-fluid(src="./img/home_slider3.png", alt="", srcset="")
								.items
									img.img-fluid(src="./img/home_slider2.png", alt="", srcset="")
								.items
									img.img-fluid(src="./img/home_slider1.png", alt="", srcset="")
	section.infor
		.container
			.row
				.col-md-3.text
					h4 FULLSTACK VIETNAM
					br
					p Mobile:(+84) 969689893
						br
						|Email: admin@fullstackvietnam.com
						br
						|Địa chỉ: 28 đường số 2 - CYTI LAND - Phường 7 - Quận Gò Vấp - TPHCM	
				.col-md-3.text
					h4 LINKS
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học
				.col-md-3.text3
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học
				.col-md-3.form
					form
						.form-group.mt-4
							label(for="exampleInputEmail1") EMAIL
							input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email")
							small#emailHelp.form-text.text-muted 
							button.btn.btn-primary(type="button") Gửi
