footer.footer
	.container-fluid
		.row
			.col.copyright
				span.m-b-0.mt-3 Copyright 2018 by 
					a(href='/') FullStack Vietnam.
			.mr-auto
					i.fa.fa-twitter(aria-hidden="true")
					i.fa.fa-facebook(aria-hidden="true")
